 <div class="row center s12 ">
   <div class="col s12 ">
      <div class="col s12 card-panel">
         <h2 class="center">Cadastro de Descontos</h2>
         <div class="col s12 center-align">
            <h6>Desconto tipo:</h6>
            <td class="action-checkbox">
               <input class="action-select" name="individual" id="individual" type="checkbox" ng-model="desconto.individual" value="1" ng-Disabled="desconto.tabela">
               <label for="individual">&nbsp; Individual</label>
            </td>
             
         </div>
         <div class="row">
            <div class="col s12 input-field">
               <input id="nome" type="text" ng-model="desconto.nome">
               <label for="nome">Nome</label>
            </div>
 
         </div>
         <div class="row s12 center">
            <button class="btn waves-effect waves-light" id="enviar" ng-Disabled="!desconto.nome" ng-click="salvar()">Enviar</button>
            <button class="waves-effect waves-teal btn-flat" id="voltar" ng-click="voltar()">Voltar</button>
         </div>
         {{desconto}}
      </div>
<!--
      <div class="col s12 card-panel">
         <h2 class="center">Cadastro de Desconto aplicado</h2>
         <div class="row">
            <div class="col s12 input-field">
               <input id="classificado" type="text" ng-model="desconto_aplicado.classificado" mask="9?9.99">
               <label for="classificado">classificado %</label>
            </div>
         </div>
         <div class="row">
            <div class="col s12 input-field">
               <input id="percentual" type="text" ng-model="desconto_aplicado.percentual" mask="9?9.99">
               <label for="percentual">percentual descontado %</label>
            </div>
         </div>
         <div class="row">
            <div class="col s12 input-field">
               <input id="absoluto" type="text" ng-model="desconto_aplicado.absoluto" mask="999999">
               <label for="absoluto">absoluto descontado kg</label>
            </div>
         </div>
         <div class="row">
            <div class="col s12 input-field">
               <input id="peso_descontado" type="text" ng-model="desconto_aplicado.peso_descontado" mask="999999">
               <label for="peso_descontado">peso_descontado kg</label>
            </div>
         </div>
         <div class="row s12 center">
            <button class="btn waves-effect waves-light" id="enviar" ng-Disabled="!desconto.nome" ng-click="salvar_desconto_aplicado()">Enviar desconto aplicado</button>
            <button class="waves-effect waves-teal btn-flat" id="voltar" ng-click="voltar()">Voltar</button>
         </div>
         
         {{desconto_aplicado}}
      </div>
-->
<!--
 <h2 class="center">Cadastro de ITENS Desconto </h2>
          
          Na página de pesagem de saída ao adicionar um desconto iniciamos selecionando um nome de desconto cadastrado. 
          Nessa etapa faz-se o teste se o nome digitado está disponível na tabela "desconto" se existir o nome, então retorna para o objeto (lista de descontos que será registrada na pesagem) o id_desconto da tabela "desconto". 
          Os campos: classificado, percentual, absoluto e peso_descontado são preenchidos pelo usuário.
          Os campos absoluto e peso descontado devem ser preenchidos baseado no peso liquido calculado da diferença entre peso de entrada e peso de saída.  Será implementado em etapas futuras.
          Na etapa de desenvolvimento da tabela "itens de desconto" todos os campos da tabela "desconto aplicado " estarão disponíveis para edição, para facilitar a simulação.
          Depois de capturar o id do nome do desconto e preencher os dados da tabela "desconto_aplicados" termina a adição de um itens_desconto a pesagem de saída.  
          Nessa etapa temos as seguintes informações:
          Id_desconto, e nome da tabela desconto. 
          Classificado, percentual, absoluto, peso_descontado da tabela desconto aplicado.
          Não temos o id_desconto_aplicado pois ainda não salvamos essa operação. 
          Os dados que serão lançados na tabela desconto aplicado está em um objeto "lines" apontado em formato de tabela para o usuário.
          Cada posição desse objeto tem os dados do desconto aplicado, o id e nome da tabela desconto.
          Ao concluir a lista de descontos que será aplicado a pesagem de saída. Soma-se todos os pesos descontado (itens digitados pelo usuário na fase de desenvolvimento) e subtrai do peso liquido.

Ao enviar pesagem de saída deve-se executar nessa ordem
1-  Salva a pesagem;
2-  Retornar o id da pesagem de saída.
3-  Salva o primeiro desconto aplicado. (Dados digitados pelo usuário)  
4-  Retornar o id_desconto aplicado.
5-  Salva na tabela itens_desconto (os itens do objeto "lines.)  com:
a.  Id_desconto_aplicado;
b.  Id_desconto (id do nome desconto da tabela desconto);
c.  Id da pesagem de saída;
d.  Repete a sequência até concluir todos as posições do objeto.

 -->
      <div class="col s12 card-panel">
         
         <div class="row">
            <div class="col s12 input-field">
               <input id="pesagem_id_pesagem" type="text" ng-model="itens_desconto.pesagem_id_pesagem" mask="9999">
               <label for="pesagem_id_pesagem">pesagem_id_pesagem </label>
            </div>
         </div>
         <div class="row">
            <div class="col s12 input-field">
               <input id="desconto_id_desconto" type="text" ng-model="itens_desconto.desconto_id_desconto" mask="9999">
               <label for="desconto_id_desconto">desconto_id_desconto </label>
            </div>
         </div>
         <div class="row">
            <div class="col s12 input-field">
               <input id="desconto_aplicado_id_desconto_aplicado" type="text" ng-model="itens_desconto.desconto_aplicado_id_desconto_aplicado" mask="9999">
               <label for="desconto_aplicado_id_desconto_aplicado">desconto_aplicado_id_desconto_aplicado </label>
            </div>
         </div>  
       
         <div class="row s12 center">
            <button class="btn waves-effect waves-light" id="enviar"   ng-click="salvar_desconto_aplicado()">Enviar desconto aplicado</button>
            <button class="waves-effect waves-teal btn-flat" id="voltar" ng-click="voltar()">Voltar</button>
         </div>
         
         {{itens_desconto}}
      </div>










   </div>
</div>
<script type="text/javascript">
   $(document).ready(function() {
       $('.modal').modal({
           dismissible: true, // Modal can be dismissed by clicking outside of the modal
           opacity: .9, // Opacity of modal background
           inDuration: 900, // Transition in duration
           outDuration: 200, // Transition out duration
           startingTop: '4%', // Starting top style attribute
           endingTop: '4%', // Ending top style attribute
           ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
               console.log(modal, trigger);
           },
           complete: function() {
           } // Callback for Modal close
       });
   });
 
</script>