<!--
Após selecionar a placa deve se verificar:
se existe pesagem com status de pesagem "0" entrada.
se existe quantas pesagens de entrada?
se existe pesagem de saida "1" saida.
se existe quantas pesagem de saida?
se registros de entrada = registros de saida
então permitir pesagem
se registro de entrada > registro de saida
então informar alert:" Veículo informado já encontra-se dentro do pátio! "
 -->
 <div class="col s12 card-panel center">
   <!-- {{pesagem}} --> 
   <div class="row center">
      <div class="col s12 center">
         <h3>PESAGEM SAIDA</h3>
         
      </div>
   </div>
   <div class="col s12 center">
      <div class="row  ">
         <div class="col s4 input-field">
            <input id="motorista" type="text" ng-model="pesagem.motorista">
            <label for="motorista"> Motorista </label>
         </div>
         <div class="col s4 left-align ">
            <label for="veiculo" class="active "> Pesquisar placa </label>
            <div data-ng-controller="pesagemSaidaVeiculoController as PVeiculo"   >
               <md-autocomplete  ng-Disabled="!pesagem.motorista" id="placa" ngb-disabled="PVeiculo.isDisabled " md-no-cache="PVeiculo.noCache" md-selected-item="selected" md-search-text-change="PVeiculo.searchTextChange(PVeiculo.searchText)" md-search-text="PVeiculo.searchText "
                  md-selected-item-change="PVeiculo.selectedItemChange(item)" md-items="item in PVeiculo.querySearch(PVeiculo.searchText) " md-item-text="item.placa " md-min-length="3" placeholder="Pesquise um Veiculo" md-menu-class="autocomplete-custom-template ">
                  <md-item-template>
                     <span class="item-title">
                     <em> PLACA: </em>
                     <strong> {{item.placa}} </strong> 
                     </span>
                  </md-item-template>
               </md-autocomplete>
            </div>
         </div>
         

        
         <div class="col s3 input-field">
            <div> <label for="cliente" id="cliente" class="active"> Cliente </label></div>
             
            <input id="cliente"   name="cliente" ng-model="pesagem.cliente" disabled="disabled">
           
         </div>

      </div>
      <div class="row">
          <div class="col s3 input-field">
            <div> <label for="fornecedor" id="fornecedor" class="active"> Fornecedor </label></div>
            <input id="fornecedor"   name="fornecedor" ng-model="pesagem.fornecedor" disabled="disabled">
         </div> 
         <div class="col s9 left-align ">
            <div class="col s5 input-field">
            <div> <label for="produto" id="produto" class="active"> Produto </label></div>
            <input id="produto"   name="produto" ng-model="pesagem.produto" disabled="disabled">
         </div> 
         <div class="col s4 input-field">
            <div> <label for="primeira" id="primeira" class="active"> Primeira Pesagem</label></div>
      <input style='font-size: 25px' class='black-text ' disabled id="primeira" id="primeira" name="primeira" type="text" ng-model="pesagem.peso_1" mask="999999">
         </div>

         </div>
          
          
         
         <div class="col s3 input-field">
            <div> <label for="primeira" id="primeira" class="active"> Segunda Pesagem</label></div>
            <input style='font-size: 25px' class='black-text ' disabled id="segunda" id="segunda" name="segunda" type="text" ng-model="pesagem.peso_2" mask="999999"       >
         </div>
         <div class="col s3 input-field">
            <div> <label for="liquido" id="label_liquido" class="active"> Liquido </label></div>
             
            <input id="liquido" type="number" name="liquido" ng-model="pesagem.peso_liquido" disabled="disabled">
           
         </div>
         <div class="col s6 input-field">
            <button class="btn waves-effect waves-light" onclick="adicionarListaDesconto()"  > ADICIONAR DESCONTO </button>
         </div>

         <div class="col s6 input-field">
            <button class="btn-flat waves-effect waves-light" ng-click="apagarListaDesconto()" > APAGAR DESCONTO </button>
         </div>
 
          
      </div>
      <div class="row">
         <div class="input-field col s12   ">
            <textarea id="observacao" type="text" class="materialize-textarea" ng-model=" pesagem.observacao">
            </textarea>
            <label for="textarea1">Observação</label>
         </div>
      </div>
      <div class="row">
          <th>LISTA DE DESCONTOS APLICADOS </th>
               <div class="row s12 center">
                  <table>
                     <thead>
                        <tr>
                           <th>CODIGO</th>
                           <th>DESCONTO</th>
                           <th>CLASSIFICADO (%) </th>
                           <th>DESCONTADO (%)</th>
                           <th>ABSOLUTO (kg)</th>
                           <th>PESO DESCONTO (kg)</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="linha in lines">
                           <td>{{linha.id_desconto}}</td>
                           <td>{{linha.nomedesconto}}</td>
                           <td>{{linha.classificado}}</td>
                           <td>{{linha.percentual}}</td>
                           <td>{{linha.absoluto}}</td>
                           <td>{{linha.peso_descontado}}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>

 
         <div class="row s12 center">
            <!-- isso aqui é usado para sair da pagina atual ui-sref="home" -->
            <button class="btn waves-effect waves-light" id="enviar" ng-Disabled="!pesagem.peso_liquido" ng-click="salvar(); imprimir = true" ng-show="!imprimir" >Enviar</button>
            <button class="btn waves-effect waves-light"  ng-show="imprimir" id="imprimir"   ui-sref="layoutMeiaPag_saida" >imprimir</button>


            <button class="btn waves-effect waves-light" id="capturar_peso" ng-click="capturar_peso()  " ng-Disabled = " !pesagem.peso_1 " >capturar peso</button>
            <button class="btn waves-effect waves-light" id="enviar" ng-click="organizar()"  >OBJETOS PAGINA</button>
            <button class="btn waves-effect waves-light" id="enviar" ng-click="salvar_desconto_aplicado()"  >salvar_desconto_aplicado 1</button>
            
             <button class="btn waves-effect waves-light" id="enviar" ng-click="salvar_itens_desconto()"  >salvar_itens_desconto 2</button>
         </div>
      </div>

   </div>
</div>

<!-- até aqui é a pagina ADICIONAR DESCONTO daqui pra baixo é a tela ADICIONAR DESCONTO-->
<!-- até aqui é a pagina cadastro cliente daqui pra baixo é a tela cadastro veiculo-->
<script type="text/javascript">
   $(document).ready(function() {
       $('.modal').modal({
           dismissible: true, // Modal can be dismissed by clicking outside of the modal
           opacity: .9, // Opacity of modal background
           inDuration: 900, // Transition in duration
           outDuration: 200, // Transition out duration
           startingTop: '4%', // Starting top style attribute
           endingTop: '4%', // Ending top style attribute
           ready: function(modal, trigger) { 
               console.log(modal, trigger);
           },
           complete: function() {
           } // Callback for Modal close
       });
   });
   
   var adicionarListaDesconto = function() {
       //console.log('aqui ');
       $('#modal2').modal('open');
   }

</script>
<div id="modal2" class="modal" >
   <div class="modal-content">
      <div class="col s12 card-panel">
         <h2 class="center">DESCONTO </h2>
         <div class="row">
<!--aqui começa o teste de auto complete de nome do desconto -->
  
<!-- OBJETIVO CAPTURAR O ID DO NOME DO DESCONTO E COLOCAR ISSO NUM OBJETO  -->
            <div class="col s3 input-field">
   <input id="nomedesconto" type="text"  ng-blur="consulta_nome_desconto(desconto.nomedesconto)"  ng-model="desconto.nomedesconto" mask="AAAAAAAAAAAAAA"  >
               <label for="nomedesconto">Nome</label>
            </div>
                           <td>{{linha.peso_descontado}}</td>
 
            <div class="col    s4 input-field">
               <input id="classificado" type="text" ng-model="desconto.classificado" mask="9?9.99" >
               <label for="classificado">Classificado (%)</label>
            </div>
            <div class="col s4 input-field">
               <input id="percentual" type="text" ng-model="desconto.percentual" mask="9?9.99" >
               <label for="percentual">Percentual Descontado (%)</label>
            </div>
            <div class="col    s4 input-field">
               <input id="absoluto" type="text" ng-model="desconto.absoluto" mask="999999"  >
               <label for="absoluto">Absoluto (kg)</label>
            </div>
            <div class="col s4 input-field">
               <input id="peso_descontado" type="text" ng-model="desconto.peso_descontado" mask="999999"  >
               <label for="peso_descontado">Peso Desconto (kg)</label>
            </div>
         </div>
         <div class="row">
            <div class="col s12 center">
               <button href="#!" class="btn waves-effect waves-light modal-action modal-close" id="enviar" ng-click="salvarListaDesconto() ">CONCLUIDO</button>
               <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="voltar">Voltar</button>
            </div>
         </div>
      </div>
 
   </div>
</div>
