<style type="text/css">
    input[type="number"][disabled] {
        color: black;
        font-weight: bold;
    }
    
    label[id=label_liquido] {
        color: red;
        font-weight: bold;
    }
</style>
<div class="col s12 card-panel center">
    <div class="row center">
        <div class="col s12 center">
            <h3>PESAGEM MANUAL</h3>
        </div>
    </div>

    <div class="col s12 center">
        <div class="col s1 ">
        </div>
        <div class="col s3 input-field">
            <input id="placa" type="text" ng-model="pesagem.placa" mask="AAA-9999" ng-keyup="autorizar_envio()">
            <label for="placa"> Placa </label>
        </div>
        <div class="col s3 input-field">
            <input id="tipo_veiculo" type="text" ng-model="pesagem.tipo_veiculo">
            <label for="tipo_veiculo"> Tipo Veículo </label>
        </div>
        <div class="col s4 input-field">
            <input id="motorista" type="text" ng-model="pesagem.motorista">
            <label for="motorista"> Motorista </label>
        </div>
    </div>

    <div class="col s12 center">
        <div class="col s1 ">
        </div>

        <div class="col s3 left-align  ">
            <label for="cliente" class="active "> Cliente </label>
            <div data-ng-controller="pesagemManualClienteController as Pcliente">
                {{selected}}
                <md-autocomplete ng-Disabled="!pesagem.placa" id="auto" ngb-disabled="Pcliente.isDisabled " md-no-cache="Pcliente.noCache" md-selected-item="selected" md-search-text-change="Pcliente.searchTextChange(Pcliente.searchText)" md-search-text="Pcliente.searchText "
                    md-selected-item-change="Pcliente.selectedItemChange(item)" md-items="item in Pcliente.querySearch(Pcliente.searchText) " md-item-text="item.nome " md-min-length="0" placeholder="Pesquise um Cliente" md-menu-class="autocomplete-custom-template ">
                    <md-item-template>
                        <span class="item-title">
                           <em> NOME: </em>
                           <strong> {{item.nome}} </strong> 
                           </span>
                        <span class="item-metadata">
                           <em> CPF: </em>
                           <strong>{{item.cpf}}</strong>
                           </span >
                           <span class="item-metadata">
                           <em> CNPJ: </em>
                           <strong>{{item.cnpj}}</strong>
                           </span>
                    </md-item-template>
                </md-autocomplete>
            </div>
        </div>
        <div class="col s3 left-align ">
            <label for="fornecedor" class="active "> Fornecedor </label>
            <div data-ng-controller="pesagemManualFornecedorController as Pfornecedor">
                <md-autocomplete ng-Disabled="!pesagem.placa" id="auto" ngb-disabled="Pfornecedor.isDisabled " md-no-cache="Pfornecedor.noCache" md-selected-item="Pfornecedor.selectedItem" md-search-text-change="Pfornecedor.searchTextChange(Pfornecedor.searchText)" md-search-text="Pfornecedor.searchText "
                    md-selected-item-change="Pfornecedor.selectedItemChange(item)" md-items="item in Pfornecedor.querySearch(Pfornecedor.searchText) " md-item-text="item.nome " md-min-length="0" placeholder="Pesquise um Fornecedor" md-menu-class="autocomplete-custom-template ">
                    <md-item-template>
                        <span class="item-title">
                           <em> NOME: </em>
                           <strong> {{item.nome}} </strong> 
                           </span>
                        <span class="item-metadata">
                           <em> CPF: </em>
                           <strong>{{item.cpf}}</strong>
                           </span >
                           <span class="item-metadata">
                           <em> CNPJ: </em>
                           <strong>{{item.cnpj}}</strong>
                           </span>
                    </md-item-template>
                </md-autocomplete>
            </div>
        </div>
        <div class="col s4 left-align ">
            <label for="produto" class="active "> Produto </label>
            <div data-ng-controller="pesagemManualProdutoController as Pproduto">
                <md-autocomplete ng-Disabled="!pesagem.placa" id="auto" ngb-disabled="Pproduto.isDisabled " md-no-cache="Pproduto.noCache" md-selected-item="Pproduto.selectedItem" md-search-text-change="Pproduto.searchTextChange(Pproduto.searchText)" md-search-text="Pproduto.searchText "
                    md-selected-item-change="Pproduto.selectedItemChange(item)" md-items="item in Pproduto.querySearch(Pproduto.searchText) " md-item-text="item.nome " md-min-length="0" placeholder="Pesquise um Produto" md-menu-class="autocomplete-custom-template ">
                    <md-item-template>
                        <span class="item-produto">
                           <em> NOME: </em>
                           <strong> {{item.nome}} </strong> 
                           </span>
                    </md-item-template>
                </md-autocomplete>
            </div>
        </div>
    </div>
    <div class="col s12 center">
        <div class="col s1 ">
        </div>
        <div class="col s3 input-field">
            <input id="primeira" type="text" ng-model="pesagem.peso_1" ng-change="modulo(pesagem.peso_1)" mask="999999" ng-keyup="autorizar_envio()" ng-Disabled="!pesagem.placa ">
            <label for="primeira"> Primeira Pesagem </label>
        </div>
        <div class="col s3 input-field">
            <input id="segunda" type="text" ng-model="pesagem.peso_2" ng-change="modulo(pesagem.peso_2)" mask="999999" ng-Disabled="!pesagem.placa " ng-keyup="autorizar_envio()">
            <label for="segunda"> Segunda Pesagem </label>
        </div>
        <div class="input-field col s4   ">
            <textarea id="observacao" type="text" class="materialize-textarea" ng-model=" esagem.observacao">
                        
                     </textarea>
            <label for="textarea1">Observação</label>
        </div>
    </div>

    <div class="col s12 center">
        <div class="col s1 ">
        </div>
        <div class="col s3 input-field">
            <input id="liquido" type="text" ng-model="pesagem.peso_descontos " ng-change="modulo(pesagem.peso_descontos) " mask="999999" ng-Disabled="!pesagem.placa " ng-keyup="autorizar_envio()">
            <label for="liquido"> Descontos </label>
        </div>

        <div class="col s3 input-field">
            <input id="liquido" type="number" name="liquido" ng-model="pesagem.peso_liquido" disabled="disabled">
            <label for="liquido" id="label_liquido" class="active"> Liquido </label>
        </div>
        {{pesagem}}
    </div>
    <div class="row s12 center">
        <button class="btn waves-effect waves-light" id="enviar" ng-Disabled="pesagem.status != 3 " ng-click="salvar()">Enviar</button>

    </div>


</div>