<h2 class="center"> Pesquisar Desconto </h2>
<div class="row card-panel" ng-controller="pesquisaDescontoController">
   <div class="row">
      <div class="col s10  input-field" ng-keyup="pesquisarnome()">
         <!--função ng-keyup assim que o teclado for precionado ele dispara uma ação no caso chama a função pesquisarnome() -->
         <input id="nome" type="text" ng-model="pesquisa.nome">
         <label for="nome">Nome</label>
      </div>
      <div class="col s10  input-field" ng-keyup="pesquisar_id_desconto_aplicado()">
         <!--função ng-keyup assim que o teclado for precionado ele dispara uma ação no caso chama a função pesquisarnome() -->
         <input id="id_desconto_aplicado" type="text" ng-model="pesquisa.id_desconto_aplicado" mask="9999">
         <label for="id_desconto_aplicado">ID DESCONTO APLICADO(desenvolvido para teste de pesquisa tabela desconto aplicado será removido </label>
         <button class="waves-effect waves-teal btn-flat" id="voltar" ng-click="pesquisar_id_desconto_aplicado_ultimo()">PESQUISAR ULTIMO</button>
      </div>
      {{pesquisa}}
   </div>
   <div class="row">
      <div class="col s12">
         <!-- ONDE ESTA ESSA DIV? controller/pesquisacliente.js  função $scope.gerarcartaocpf
            newDiv é essa parada dinamica.          -->
         <div id='divdinamica' otc-dynamic></div>
      </div>
   </div>
</div>